<!doctype html>
<html>
<head>
<link rel="stylesheet" href="css/error_page_style.css">
</head>

<body>

        <!-- Error Page -->
<!--            <section class="dashboard-page error-page"> -->
	<div class="container-fluid">
		<div class="row">
			<div class="card-style my-5">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-xl-12">
						<div class="flex-container">
							<div class="text-center error-text">
								<h1>
									<span class="fade-in" id="digit1">4</span> <span
										class="fade-in" id="digit2">0</span> <span class="fade-in"
										id="digit3">0</span>
								</h1>
								<h3 class="fadeIn">This is just embarrassing; this page
									does not exist...</h3>
								<!--     <button type="button" name="button">Return To Home</button> -->
								<ul class="buttons-group d-flex justify-content-center">
									<li><a class="learn-more" href="/"> <span
											class="circle" aria-hidden="true"> <span
												class="icon arrow"></span>
										</span> <span class="button-text">Return To Home</span>
									</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
        <!-- Error Page -->


</body>
</html>



