<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ink Urban - Your Business, Digitally Defined</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="/assets/images/logo_img/ink_fav.png" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/animate.min.css">
  <link rel="stylesheet" href="./assets/css/morphext.css">
  <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/style.css">
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css" integrity="sha256-nwNjrH7J9zS/Ti4twtWX7OsC5QdQHCIKTv5cLMsGo68=" crossorigin="anonymous" />
  <!-- 
    - google font link
  -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">


</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="https://inkurban.in/" class="logo">
        <img src="/assets/images/logo_img/ink_15_logo.png">
        </a>

      <nav class="navbar container" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li>
            <a href="#service" class="navbar-link" data-nav-link>Services</a>
          </li>

          <!-- <li>
            <a href="#project" class="navbar-link" data-nav-link>Project</a>
          </li> -->

          <li>
            <a href="#about" class="navbar-link" data-nav-link>About Us</a>
          </li>

          <!-- <li>
            <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
          </li> -->

          <li>
            <a href="#contact" class="navbar-link" data-nav-link>Contact Us</a>
          </li>

          <li>
            <a href="#" class="btn btn-primary">+91 8340-123-740</a>
          </li>

        </ul>
      </nav>

      <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
        <ion-icon name="menu-outline" class="open"></ion-icon>
        <ion-icon name="close-outline" class="close"></ion-icon>
      </button>

    </div>
  </header>


  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" id="home" aria-label="hero">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">World-Class Web and Mobile Apps Development Company</p>

            <h1 class="h1 hero-title">Your Business, Digitally Defined</h1>

            <p class="hero-text">
             At <b>Ink Urban</b> we combine effective , innovative, feasible solutions with outstanding creativity.
            </p>

            <a href="#contact" class="btn btn-primary">Estimate Project</a>

          </div>

          <figure class="hero-banner">
            <img src="./assets/images/abt_her.svg" width="720" height="673" alt="hero banner" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="section service" id="service" aria-label="service">
        <div class="container">

          <h2 class="h2 section-title">Services We Provided</h2>

          <p class="section-text">
         <b>INK URBAN</b>  is offering a complete range of Web Solutions including <span id="js-rotating">Web Designing, Web Hosting, E-Commerce Solutions, Graphic Designing, Social Media Marketing </span>.
         
          </p>

          <ul class="grid-list">

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #13c4a1">
                  <ion-icon name="chatbox"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">SEO Optimization</a>
                </h3>

                <p class="card-text">
                  Supercharge your website's performance with our results-driven SEO optimization services. 
                  Dominate search engine rankings and attract your target audience effortlessly.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #6610f2">
                  <ion-icon name="desktop"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Custom Web Development</a>
                </h3>

                <p class="card-text">
                  We've aided top brands in building their digital presence through 
                  our custom web development services, creating secure and scalable web apps on cutting-edge technologies.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #ffb700">
                  <ion-icon name="settings-outline"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">API Development</a>
                </h3>

                <p class="card-text">
                  We specialize in crafting custom APIs and integration solutions for 
                  global businesses, ensuring scalability, security, and alignment with your unique requirements.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #fc3549">
                  <ion-icon name="cart-outline"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">E-Commerce Development</a>
                </h3>

                <p class="card-text">
                  Our eCommerce website development services include custom eCommerce development, 
                  storefront web, dashboard design to measure growth, and open-source eCommerce customizations.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #00d280">
                  <ion-icon name="archive"></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Email Marketing</a>
                </h3>

                <p class="card-text">
                  Transform your email marketing with our specialized services. 
                  Drive results through effective campaigns, strategic targeting, and personalized communication.
                </p>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon" style="background-color: #ff612f">
                  <ion-icon name="build" ></ion-icon>
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Dev Support</a>
                </h3>

                <p class="card-text">
                  Ensure project continuity with affordable support for existing clients, while delivering 
                  expert upgrades, migration, and maintenance services for new projects.
                </p>

              </div>
            </li>

          </ul>

        </div>
      </section>

      <!-- Design and Development Process -->

      
     <section class="section dev_p" aria-label="cta" style="background-image: url('./assets/images/dev_process.jpg'); background-size: cover; background-position: center;">
    <div class="container">
        <h2 class="h2 section-title" style="color:#d5d5d5; text-align: center;">How We Work</h2>
        <div class="img-container" style="text-align: center;">
            <img class="img-responsive" src="./assets/images/dev_process.png" alt="plane" style="max-width: 100%; height: auto;">
        </div>
    </div>
</section>


      <!-- Technologies -->


      <section class=" section padding tech-sec" >
        <div class="container">
          <h2 class="h2 section-title" >Technologies</h2>
          <div class="tech-tab">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#frontend" aria-controls="frontend" role="tab" data-toggle="tab">Frontend</a></li>
              <li role="presentation"><a href="#backend" aria-controls="backend" role="tab" data-toggle="tab">Backend</a></li>
              <li role="presentation"><a href="#cms" aria-controls="cms" role="tab" data-toggle="tab">CMS</a></li>
              <li role="presentation"><a href="#ecommerce" aria-controls="ecommerce" role="tab" data-toggle="tab">Ecommerce</a></li>
              <li role="presentation"><a href="#database" aria-controls="database" role="tab" data-toggle="tab">Database</a></li>
              <li role="presentation"><a href="#cloud" aria-controls="cloud" role="tab" data-toggle="tab">Cloud</a></li>
              <!-- <li role="presentation"><a href="#devOps" aria-controls="devOps" role="tab" data-toggle="tab">DevOps</a></li> -->
              <!-- <li role="presentation"><a href="#platforms" aria-controls="platforms" role="tab" data-toggle="tab">Platforms</a></li> -->
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="frontend">
              <ul class="tech-list">
                <li>
                  <img src="./assets/images/tech/css3.png" class="img-responsive" alt="CSS3">
                  <p>CSS3</p>
                </li>
                <li>
                  <img src="./assets/images/tech/html5.png" class="img-responsive" alt="CSS3">
                  <p>HTML5</p>
                </li>
                <li>
                  <img src="./assets/images/tech/javaScript.png" class="img-responsive" alt="CSS3">
                  <p>JavaScript</p>
                </li>
                <li>
                  <img src="./assets/images/tech/reactjs.png" class="img-responsive" alt="ReactJS">
                  <p>ReactJS</p>
                </li>
              </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="backend">
              <ul class="tech-list">
               
                <li>
                  <img src="./assets/images/tech/node.png" class="img-responsive" alt="Node.js">
                  <p>Node.js</p>
                </li>
                <li>
                  <img src="./assets/images/tech/php.png" class="img-responsive" alt="PHP">
                  <p>PHP</p>
                </li>
                <li>
                  <img src="./assets/images/tech/java.jpg" class="img-responsive" alt="Java">
                  <p>Java</p>
                </li>
                <li>
                  <img src="./assets/images/tech/python.png" class="img-responsive" alt="Python">
                  <p>Python</p>
                </li>
      
              </ul>	
              </div>
             
              <div role="tabpanel" class="tab-pane" id="database">
              <ul class="tech-list">
                <li>
                  <img src="./assets/images/tech/postgres.png" class="img-responsive" alt="MySQL">
                  <p>PostgreSQL</p>
                </li>
                <li>
                  <img src="./assets/images/tech/mysql.png" class="img-responsive" alt="MySQL">
                  <p>MySQL</p>
                </li>
                <li>
                  <img src="./assets/images/tech/mongoDB.png" class="img-responsive" alt="MongoDB">
                  <p>MongoDB</p>
                </li>
                <li>
                  <img src="./assets/images/tech/oracle.png" class="img-responsive" alt="Oracle">
                  <p>Oracle</p>
                </li>
                <li>
                  <img src="./assets/images/tech/firebase.png" class="img-responsive" alt="Firebase">
                  <p>Firebase</p>
                </li>
              </ul>
              </div>
             
              <div role="tabpanel" class="tab-pane" id="cloud">
              <ul class="tech-list">
                <li>
                  <img src="./assets/images/tech/aws.png" class="img-responsive" alt="AWS">
                  <p>AWS</p>
                </li>
                <li>
                  <img src="./assets/images/tech/google-cloud.png" class="img-responsive" alt="Google Cloud">
                  <p>Google Cloud</p>
                </li>
                <li>
                  <img src="./assets/images/tech/azure.png" class="img-responsive" alt="Azure">
                  <p>Azure</p>
                </li>
              </ul>
              </div>
              <!-- <div role="tabpanel" class="tab-pane" id="devOps">DevOps</div> -->
              <div role="tabpanel" class="tab-pane" id="ecommerce">
              <ul class="tech-list">
                <li>
                  <img src="./assets/images/tech/woocommerce.png" class="img-responsive" alt="WooCommerce">
                  <p>WooCommerce</p>
                </li>
                <li>
                  <img src="./assets/images/tech/magento.png" class="img-responsive" alt="Magento">
                  <p>Magento</p>
                </li>
                <li>
                  <img src="./assets/images/tech/shopify.png" class="img-responsive" alt="Shopify">
                  <p>Shopify</p>
                </li>
              </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="cms">
              <ul class="tech-list">
                <li>
                  <img src="./assets/images/tech/wordPress.png" class="img-responsive" alt="WordPress">
                  <p>WordPress</p>
                </li>
                <li>
                  <img src="./assets/images/tech/joomla.png" class="img-responsive" alt="Joomla">
                  <p>Joomla</p>
                </li>
                <li>
                  <img src="./assets/images/tech/moodle_1.png" class="img-responsive" alt="Joomla">
                  <p>Moodle LMS</p>
                </li>
              </ul>
              </div>
              <!-- <div role="tabpanel" class="tab-pane" id="platforms">Platforms</div> -->
            </div>
            </div>
        </div>
      </section>

      <!-- 
        - #PROJECT
      -->

      <!-- <section class="section project" id="project" aria-label="project">
        <div class="container">

          <h2 class="h2 section-title">Our Recent Projects</h2>

          <p class="section-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua.
          </p>

          <ul class="grid-list">

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 700;">
                  <img src="./assets/images/project-1.jpg" width="510" height="700" loading="lazy"
                    alt="Designing a better cinema experience" class="img-cover">
                </figure>

                <div class="card-content">

                  <p class="card-subtitle">SEO Optimization</p>

                  <h3 class="h3">
                    <a href="#" class="card-title">Designing a better cinema experience</a>
                  </h3>

                  <a href="#" class="btn btn-primary">View Details</a>

                </div>

              </div>
            </li>

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 700;">
                  <img src="./assets/images/project-2.jpg" width="510" height="700" loading="lazy"
                    alt="Building design process within teams" class="img-cover">
                </figure>

                <div class="card-content">

                  <p class="card-subtitle">Digital Marketing</p>

                  <h3 class="h3">
                    <a href="#" class="card-title">Building design process within teams</a>
                  </h3>

                  <a href="#" class="btn btn-primary">View Details</a>

                </div>

              </div>
            </li>

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 700;">
                  <img src="./assets/images/project-3.jpg" width="510" height="700" loading="lazy"
                    alt="How intercom brings play into their design process" class="img-cover">
                </figure>

                <div class="card-content">

                  <p class="card-subtitle">Keyword Targeting</p>

                  <h3 class="h3">
                    <a href="#" class="card-title">How intercom brings play into their design process</a>
                  </h3>

                  <a href="#" class="btn btn-primary">View Details</a>

                </div>

              </div>
            </li>

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 700;">
                  <img src="./assets/images/project-4.jpg" width="510" height="700" loading="lazy"
                    alt="Stuck with to-do list, I created a new app for" class="img-cover">
                </figure>

                <div class="card-content">

                  <p class="card-subtitle">Email Marketing</p>

                  <h3 class="h3">
                    <a href="#" class="card-title">Stuck with to-do list, I created a new app for</a>
                  </h3>

                  <a href="#" class="btn btn-primary">View Details</a>

                </div>

              </div>
            </li>

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 700;">
                  <img src="./assets/images/project-5.jpg" width="510" height="700" loading="lazy"
                    alt="Examples of different types of sprints" class="img-cover">
                </figure>

                <div class="card-content">

                  <p class="card-subtitle">Marketing & Reporting</p>

                  <h3 class="h3">
                    <a href="#" class="card-title">Examples of different types of sprints</a>
                  </h3>

                  <a href="#" class="btn btn-primary">View Details</a>

                </div>

              </div>
            </li>

            <li>
              <div class="project-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 700;">
                  <img src="./assets/images/project-6.jpg" width="510" height="700" loading="lazy"
                    alt="Redesigning the New York times app" class="img-cover">
                </figure>

                <div class="card-content">

                  <p class="card-subtitle">Development</p>

                  <h3 class="h3">
                    <a href="#" class="card-title">Redesigning the New York times app</a>
                  </h3>

                  <a href="#" class="btn btn-primary">View Details</a>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section> -->





      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <div class="about-banner img-holder" style="--width: 720; --height: 960;">
            <img src="./assets/images/main_h1_im.jpg" width="720" height="960" loading="lazy" alt="about banner"
              class="img-cover">

            <button class="play-btn" aria-label="Play video">
              <ion-icon name="play" aria-hidden="true"></ion-icon>
            </button>
          </div>

          <div class="about-content">

            <h2 class="h2 section-title">About Us</h2>

            <p class="section-text">
              Ink Urban brings together a team of software engineers, creative designers, 
              and technology consultants with the common goal of delivering exceptional software products to our clients.
            </p>

            <h3 class="h3">Our Objective</h3>

            <p class="section-text">
              Our goal is to address intricate challenges for clients, and we excel in outsourced product development and
               custom software development across various technologies such as Node.js, React, Spring Boot, and Java
            </p>

            <!-- <h3 class="h3">Our Success</h3> -->

            <!-- <ul class="about-list">

              <li class="about-item">
                <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>

                <p class="section-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
              </li>

              <li class="about-item">
                <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>

                <p class="section-text">
                  It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its
                  layout.
                </p>
              </li>

              <li class="about-item">
                <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>

                <p class="section-text">
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                  classical Latin
                  literature.
                </p>
              </li>

            </ul> -->

            <h3 class="h3">Our Mission</h3>

            <p class="section-text">
              Our mission is to assist businesses in embracing new technologies, solving intricate problems to enhance productivity, 
              achieve better results, increase profits, and foster growth.<br>
              We aim to evolve alongside our clients, emphasizing our capacity to construct scalable, 
              high-performing web apps, with customer satisfaction serving as the cornerstone of our growth.
            </p>

          </div>

        </div>
      </section>





      <!-- 
        - #CTA
      -->

      <section class="section cta" aria-label="cta" style="background-image: url('./assets/images/cta-bg.jpg')">
        <div class="container">

          

          <h2 class="h2 section-title">Meet our Experts</h2>
<!--           <p class="cta-subtitle">Let's Contact With Us</p> -->
          

        </div>
      </section>

		



			<!-- 
        - #BLOG
      -->

      <!-- <section class="section blog" id="blog" aria-label="blog">
        <div class="container">

          <h2 class="h2 section-title">Latest Articles Updated Weekly</h2>

          <p class="section-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua.
          </p>

          <ul class="grid-list">

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 860; --height: 646;">
                  <img src="./assets/images/blog-1.jpg" width="860" height="646" loading="lazy"
                    alt="How to Become a Successful Entry Level UX Designer" class="img-cover">
                </figure>

                <div class="card-content">

                  <time class="time" datetime="2022-06-16">June 16, 2022</time>

                  <h3 class="h3">
                    <a href="#" class="card-title">How to Become a Successful Entry Level UX Designer</a>
                  </h3>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card grid">

                <figure class="card-banner img-holder" style="--width: 860; --height: 646;">
                  <img src="./assets/images/blog-2.jpg" width="860" height="646" loading="lazy"
                    alt="2022 Local SEO Success: The Year of Everywhere" class="img-cover">
                </figure>

                <div class="card-content">

                  <time class="time" datetime="2022-06-16">June 16, 2022</time>

                  <h3 class="h3">
                    <a href="#" class="card-title">2022 Local SEO Success: The Year of Everywhere</a>
                  </h3>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card grid">

                <figure class="card-banner img-holder" style="--width: 860; --height: 646;">
                  <img src="./assets/images/blog-3.jpg" width="860" height="646" loading="lazy"
                    alt="The Guide to Running a Client Discovery Process" class="img-cover">
                </figure>

                <div class="card-content">

                  <time class="time" datetime="2022-06-16">June 16, 2022</time>

                  <h3 class="h3">
                    <a href="#" class="card-title">The Guide to Running a Client Discovery Process</a>
                  </h3>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card grid">

                <figure class="card-banner img-holder" style="--width: 860; --height: 646;">
                  <img src="./assets/images/blog-4.jpg" width="860" height="646" loading="lazy"
                    alt="3 Ways to Get Client Approval for Scope Changes" class="img-cover">
                </figure>

                <div class="card-content">

                  <time class="time" datetime="2022-06-16">June 16, 2022</time>

                  <h3 class="h3">
                    <a href="#" class="card-title">3 Ways to Get Client Approval for Scope Changes</a>
                  </h3>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card grid">

                <figure class="card-banner img-holder" style="--width: 860; --height: 646;">
                  <img src="./assets/images/blog-5.jpg" width="860" height="646" loading="lazy"
                    alt="Top 21 Must-Read Blogs For Creative Agencies" class="img-cover">
                </figure>

                <div class="card-content">

                  <time class="time" datetime="2022-06-16">June 16, 2022</time>

                  <h3 class="h3">
                    <a href="#" class="card-title">Top 21 Must-Read Blogs For Creative Agencies</a>
                  </h3>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section> -->
      <div class="container">
    <div class="row">
        <div class="col-md-6 col-12 mt-4 pt-2">
            <div class="team-list position-relative overflow-hidden shadow rounded">
                <img src="/assets/images/team/prashantk.png" class="img-fluid float-left" alt="">
                <div class="content float-right p-4">
                   <h3 class="title">Prashant K.</h3>
                    <small class="text-muted"> Full-Stack Java Developer </small>
                    <p class="text-muted mt-3">Managing diverse operational responsibilities for effective business functioning.</p>
                    <ul class="list-unstyled follow social-icon social mb-0">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                    </ul><!--end icon-->
                </div>
            </div>                        
        </div><!--end col-->
        
        <div class="col-md-6 col-12 mt-4 pt-2">
            <div class="team-list position-relative overflow-hidden shadow rounded">
                <img src="/assets/images/team/abhishek.jpeg" class="img-fluid float-left" alt="">
                <div class="content float-right p-4">
                    <h3 class="title">Abhishek Pathak</h3>
                    <small class="text-muted">Sr. Technical Consulatant</small>
                    <p class="text-muted mt-3">Driving technological success through strategic guidance as a Senior Tech Consultant.</p>
                    <ul class="list-unstyled follow social-icon social mb-0">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                    </ul><!--end icon-->
                </div>
            </div>                        
        </div><!--end col-->
    </div><!--end row-->

    
</div>
      
      
      
<section id="team" class="team_member section-padding">
	<div class="container">				
		<div class="section-title text-center">
		<h2></h2>
		</div>				
		<div class="row text-center">
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="team-image">
						<ul class="social">
							<li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></i></a></li>
						</ul>
					</div>
					<div class="team-content">
						<h3 class="title">Mayank</h3>
						<span class="post">Sr. Java Backend Developer</span>
					</div>
				</div>
			</div><!--- END COL -->														
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="/assets/images/team/1abhi.png" alt="team-image">
						<ul class="social">
							<li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></i></a></li>
							
						</ul>
					</div>
					<div class="team-content">
						<h3 class="title">Abhinav Kumar</h3>
						<span class="post">Sr .NET Developer</span>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="/assets/images/team/sushant.jpg" alt="team-image">
						<ul class="social">
							<li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></i></a></li>
						</ul>
					</div>
					<div class="team-content">
						<h3 class="title">Sushant Sai Sundaram</h3>
						<span class="post">Marketer & Operational Manager</span>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="/assets/images/team/sakshi.jpg" alt="team-image">
						<ul class="social">
							<li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></i></a></li>
						</ul>
					</div>
					<div class="team-content">
						<h3 class="title">Sakshi Ghosh</h3>
						<span class="post">Software Developer</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="/assets/images/team/deeksha.jpg" alt="team-image">
						<ul class="social">
							<li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></i></a></li>
						</ul>
					</div>
					<div class="team-content">
						<h3 class="title">Deeksha Awashti</h3>
						<span class="post">React Developer</span>
					</div>
				</div>
			</div><!--- END COL -->														
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="/assets/images/team/aditya.png" alt="team-image">
						<ul class="social">
							<li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></i></a></li>
							
						</ul>
					</div>
					<div class="team-content">
						<h3 class="title">Aditya Raj Sharma</h3>
						<span class="post">Java Developer</span>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="/assets/images/team/sangam.jpg" alt="team-image">
						<ul class="social">
							<li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></i></a></li>
						</ul>
					</div>
					<div class="team-content">
						<h3 class="title">Sangam K.</h3>
						<span class="post">Software Developer</span>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="/assets/images/team/nitishK.jpg" alt="team-image">
						<ul class="social">
							<li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></i></a></li>
						</ul>
					</div>
					<div class="team-content">
						<h3 class="title">Nitish Kumar</h3>
						<span class="post">Digital Marketing & Sales Head</span>
					</div>
				</div>
			</div>
						
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->		
</section>




      <!-- 
        - #CONTACT
      -->

      <section class="section contact" id="contact" aria-label="contact">
        <div class="container">

          <h2 class="h2 section-title">Let's Contact With Us</h2>

          <!-- <p class="section-text">
          </p> -->

					<!-- Display error messages -->
					<div th:if="${#fields.hasErrors('fieldName')}"
						th:each="error : ${errors}">
						<p th:text="${error.defaultMessage}"></p>
					</div>
					<form action="contactForm" class="contact-form" method="post">

            <div class="input-wrapper">
              <input type="text" name="fname" aria-label="fname" placeholder="Your name*" required class="input-field">

              <input type="number" name="phone" aria-label="phone" placeholder="Phone number" class="input-field">
            </div>

            <div class="input-wrapper">
							<select name="subject" aria-label="subject" class="input-field">
								<option value="" disabled selected hidden>Choose a
									subject</option>
								<option value="Website">Website</option>
								<option value="Mobile Application">Mobile Application</option>
								<option value="SEO">SEO</option>
								<option value="Maintenance">Maintenance</option>
								<option value="Server/Hosting">Server/Hosting</option>
								<option value="Domain">Domain</option>
								<option value="Other">Other</option>
							</select>
							<input type="email" name="email" aria-label="email" placeholder="Email address*" required
                class="input-field"> 
							
            </div>

            <textarea name="message" aria-label="message" placeholder="Your message...*" required
              class="input-field"></textarea>

            <div class="checkbox-wrapper">
              <input type="checkbox" name="terms_and_policy" id="terms" required class="checkbox">

              <label for="terms" class="label">
                Accept <a href="#" class="label-link">Terms of Services</a> and <a href="#" class="label-link">Privacy
                  Policy</a>
              </label>
            </div>

            <button type="submit" class="btn btn-primary">Send Message</button>

          </form>

          <ul class="contact-list">

            <li class="contact-item">
              <div class="contact-card">

                <div class="card-icon">
                  <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                </div>

                <div class="card-content">

                  <h3 class="h3 card-title">Corporate Office</h3>
                  <address class="card-address">
                    Sunaina Bhawan, Montessori<br>
                    Lane Boring Road, Patna-1
                  </address>
                  <a href="mailto:info@inkurban.in" class="card-link">info@inkurban.in</a>

                </div>

              </div>
            </li>

            <li class="contact-item">
              <div class="contact-card">

                <div class="card-icon">
                  <ion-icon name="map-outline" aria-hidden="true"></ion-icon>
                </div>

                <div class="card-content">

                  <h3 class="h3 card-title">Branch Office</h3>
                  <address class="card-address">
                     Ramchandrapur, Jasidih,<br>
                     Jharkhand 814142
                  </address>
					<a href="mailto:inkurban.in@gmail.com" class="card-link">inkurban.in@gmail.com</a>
                </div>

              </div>
            </li>

            <li class="contact-item">
              <div class="contact-card">

                <div class="card-icon">
                  <ion-icon name="headset-outline" aria-hidden="true"></ion-icon>
                </div>

                <div class="card-content">

                  <h3 class="h3 card-title">Call Here</h3>

                  <a href="tel:+919205201038" class="card-link">+91 9205 201 038</a>
                  <a href="tel:+918340123740" class="card-link">+91 8340 123 740</a>
                  <a href="https://wa.me/+918340123740" class="card-link"><i class="fa-brands fa-whatsapp fa-beat-fade" style="color: #0bd03c;"></i> WhatsApp Chat</a>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>

<!--   <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"> -->
<!--     <div class="modal-dialog modal-dialog-centered" role="document"> -->
<!--       <div class="modal-content"> -->
<!--         <div class="modal-header"> -->
<!--           <h5 class="modal-title" id="exampleModalLongTitle"></h5> -->
<!--           <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
<!--             <span aria-hidden="true">&times;</span> -->
<!--           </button> -->
<!--         </div> -->
<!--         <div class="modal-body"> -->
<!--           <img src="./assets/images/newYr.jpg" width="720" height="960" loading="lazy" alt="about banner" -->
<!--               class="img-cover"> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->



  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <p class="copyright">
        &copy; 2023 All Rights Reserved by <a href="https://inkurban.in/" class="copyright-link">Ink Urban</a>
      </p>

    </div>
  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" aria-label="back to top" data-back-top-btn class="back-top-btn">
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/jquery.min.js"></script>
  <script src="./assets/js/bootstrap.min.js" defer></script>
  <script src="./assets/js/morphext.min.js"></script>
  <script src="./assets/js/typed.min.js" ></script>
  <script src="./assets/js/fontawesome.min.js" defer></script>
  <script src="./assets/js/script.js" defer></script>
  
  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>